name: Deploy to OKE

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      # Install OCI CLI
      - name: Install OCI CLI
        run: |
          curl -L https://raw.githubusercontent.com/oracle/oci-cli/master/scripts/install/install.sh -o install.sh
          chmod +x install.sh
          ./install.sh --accept-all-defaults
          echo "$HOME/bin" >> $GITHUB_PATH

      # Verify OCI CLI works
      - name: Verify OCI CLI
        run: |
          oci --version

      - name: Create OCI config directory
        run: |
          mkdir -p ~/.oci
          cat > ~/.oci/config <<EOF
          [DEFAULT]
          user=${{ secrets.OCI_USER_OCID }}
          fingerprint=${{ secrets.OCI_FINGERPRINT }}
          key_file=~/.oci/oci_api_key.pem
          tenancy=${{ secrets.OCI_TENANCY_OCID }}
          region=${{ secrets.OCI_REGION }}
          EOF

          echo "${{ secrets.OCI_API_KEY }}" > ~/.oci/oci_api_key.pem
          chmod 600 ~/.oci/oci_api_key.pem
          chmod 600 ~/.oci/config

      # Get kubeconfig for OKE
      - name: Get kubeconfig
        run: |
          mkdir -p ~/.kube
          oci ce cluster create-kubeconfig --cluster-id ${{ secrets.OKE_CLUSTER_ID }} --region ${{ secrets.OCI_REGION }} --file ~/.kube/config --token-version 2.0.0 --kube-endpoint PUBLIC_ENDPOINT

      # Login to OCIR
      - name: Login to OCIR
        run: |
          echo "${{ secrets.OCIR_PASSWORD }}" | docker login \
            ${{ secrets.OCI_REGION }}.ocir.io \
            --username "${{ secrets.OCI_USERNAME }}" \
            --password-stdin


      # Apply Deployment and Service manifests
      - name: Apply K8s Manifests
        run: |
          kubectl apply -f k8s/deployment.yml
          kubectl apply -f k8s/service.yml

      # Update Deployment with SHA-tag image
      - name: Update Deployment
        run: |
          SHORT_SHA=$(echo "${GITHUB_SHA}" | cut -c1-7)
          IMAGE="${{ secrets.OCI_REGION }}.ocir.io/${{ secrets.OCI_NAMESPACE }}/brutal:${SHORT_SHA}"
          kubectl set image deployment/brutal-deployment brutal=$IMAGE

      # Build & push the Docker image
      - name: Build and push Docker image
        run: |
          SHORT_SHA=$(echo "${GITHUB_SHA}" | cut -c1-7)
          IMAGE="${{ secrets.OCI_REGION }}.ocir.io/${{ secrets.OCI_NAMESPACE }}/brutal:${SHORT_SHA}"
          echo "IMAGE=$IMAGE" >> $GITHUB_ENV
          docker build -t $IMAGE .
          docker push $IMAGE

      - name: Update Deployment
        run: |
          SHORT_SHA=$(echo "${GITHUB_SHA}" | cut -c1-7)
          IMAGE="${{ secrets.OCI_REGION }}.ocir.io/${{ secrets.OCI_NAMESPACE }}/brutal:${SHORT_SHA}"
          kubectl set image deployment/brutal-deployment brutal=$IMAGE

      # Debug kubectl
      - name: Debug kubectl
        run: |
          kubectl config view
          kubectl get ns
          kubectl get secrets --all-namespaces

